<mat-sidenav-container>
    <mat-sidenav
        mode="over"
        [fixedInViewport]="true"
        [(opened)]="navigation.isSidebarOpened"
    >
        <mat-nav-list>
            <a
                mat-list-item
                *ngFor="let item of navigation.navItems"
                class="my-auto {{
                    item.color ? 'color-' + item.color : 'color-primary'
                }}"
                (click)="navigation.isSidebarOpened = false; item.onClick()"
                [disabled]="item.disabled ? item.disabled() : false"
            >
                <mat-icon class="mr-2">{{ item.icon }}</mat-icon>
                {{ item.translationKey | translate }}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="d-flex flex-column">
        <header class="position-fixed w-100">
            <app-header></app-header>
        </header>

        <main class="p-3 p-md-4 flex-grow-1 w-100 d-flex">
            <div id="main-content" class="w-100 mx-auto">
                <app-results-content></app-results-content>
            </div>
        </main>

        <app-search-button></app-search-button>
    </mat-sidenav-content>
</mat-sidenav-container>
