/**/.idea
/**/node_modules
/**/build

/**/sample-*/services/**/target
/**/sample-*/services/**/.dockerignore
/**/sample-*/services/**/Dockerfile
/**/sample-*/api-documentation/resources
/**/sample-*/api-documentation/schemas

/**/shared-services/**/target
/**/shared-services/**/.dockerignore
/**/shared-services/**/Dockerfile

/**/sample-*/database/
/**/sample-*/databases/

/src/samples/sample-04/rabbitmq-data
/src/stats-mongodata
