mat-card-title {
    line-height: 24px;
}

.prize fa-icon {
    font-size: xx-large;
}

.url-ref {
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    height: 40px;

    fa-icon {
        font-size: 24px;
    }
}
