@import '../node_modules/@angular/material/theming';

$primary: (
    50: #edeaf4,
    100: #d1cae5,
    200: #b3a7d3,
    300: #9583c1,
    400: #7e69b4,
    500: #674ea7,
    600: #5f479f,
    700: #543d96,
    800: #4a358c,
    900: #39257c,
    A100: #cbbdff,
    A200: #a28aff,
    A400: #7a57ff,
    A700: #663dff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$accent: (
    50: #fff1ed,
    100: #ffdcd1,
    200: #ffc5b2,
    300: #ffad93,
    400: #ff9c7c,
    500: #ff8a65,
    600: #ff825d,
    700: #ff7753,
    800: #ff6d49,
    900: #ff5a37,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffe6e1,
    A700: #ffd0c8,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$warn: (
    50: #f3e0e0,
    100: #e0b3b3,
    200: #cc8080,
    300: #b84d4d,
    400: #a82626,
    500: #990000,
    600: #910000,
    700: #860000,
    800: #7c0000,
    900: #6b0000,
    A100: #ff9a9a,
    A200: #ff6767,
    A400: #ff3434,
    A700: #ff1a1a,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$primary-palette: mat-palette($primary);
$accent-palette: mat-palette($accent);
$warn-palette: mat-palette($warn);
